html, body {
    height: 100%;
    font-family: "Rubik Bubbles";
}
body {
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 90%;
    width: 90%;
    background-color: white;
    border-radius: 10px;
}

#gameboard {
    width: 20rem;
    height: 20rem;
    background-color: white;
    border: 4px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 0 auto;
    margin-top: 8rem;
    cursor: pointer;
    border-radius: 10px;
}

#info {
    margin-top: 2rem;
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
}

.square {
    border-color: white;
    border: 2px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 15px solid blue;
    box-sizing: border-box;
}

.cross {
    height: 90px;
    width: 90px;
    position: relative;
    transform: rotate(45deg);
}

.cross:before, .cross:after {
    content: "";
    position: absolute;
    background-color: red;
}

.cross:before {
    left: 50%;
    width: 30%;
    margin-left: -15%;
    height: 100%;
}

.cross:after {
    top: 50%;
    height: 30%;
    margin-top: -15%;
    width: 100%;
}